<nav>
  <a routerLink="/">Home</a>
  <a routerLink="/login">Login</a>
  <a routerLink="/register">Register</a>
</nav>
<router-outlet></router-outlet>








<!-- <ng-template #myTemplate>HELLO AGAIN</ng-template>
<div appMyRouterLink="/path/to/something" [template]="myTemplate">HELLO WORLD</div>

<div *ngIf="true">
  123
</div>

<ng-template [ngIf]="true">
  <div>123</div>
</ng-template>

<button (click)="myIfValue = !myIfValue">Toggle my if value</button>

<div *appMyIf="myIfValue">
  My If is working
</div>

<ng-template [appMyIf]="myIfValue">
  <div>
    My If is working
  </div>
</ng-template> -->